.header{
  background-color: #FFCAB0;

}
.header-one {
  border-bottom: 1px solid #eeaaaa;
}

.img-header {
  display: block;
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topmenu > li {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.topmenu > li {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.topmenu >li:first-child {
  margin-left: 30px;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
}

.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}

/* .one ul {
  background: #ECDAD6;
} */
.one ul a {
  color: #695753;
}

.one .submenu {
  visibility: hidden;
  background: #ADC0CE;
}
.one ul li:hover .submenu {
  visibility: visible;
}
